{% extends "layout.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Liste des Résidences</h4>
            <div class="row">
                <div class="col-12">
                    <table id="order-listing" class="table" cellspacing="0">
                        {{ table_house|raw }}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        {% if permission.edit.home.delete %}
        $('[id^=DeleteHome]').on('click', function (e) {
            e.preventDefault();
            let space = this;
            $.post(
                '{{ path_for('r_request') }}',
                {
                    req: "deleteHome",
                    id: this.id.substring(10, this.id.length),
                },
                function (data) {
                    ReqReponse(data);
                    if (data === 'Success') {
                        HomeDeleted();
                        i = space.parentNode.parentNode.rowIndex;
                        document.getElementById('order-listing').deleteRow(i);

                    }
                },
                'text'
            );
        });
        {% endif %}
    </script>
{% endblock %}